/* Elements Selector

p {
    color: blue;
    font-size: 20px;
}
/** ID Selector 
#footer-p {
    font-size: 15px;
    color:yellow
}

/** Class Selector 
.title {
    font-size: 35px;
    font-weight: 800;
    text-decoration: solid;
}
*/

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0%;
    margin: 0%;

}
h1 {
    font-size: 20px;
    text-decoration: underline;
    padding: 0 10px;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

nav a {
    margin: 0 10px;
}

.nav, .main {
    max-width: 1250px;
    margin: 0 auto;
}
.main {
    padding: 0 20px;
}